* {
    font-family: 'Nunito Sans';
}

.section-list {
    width: 18%;
    height: 100vh;
}

.head {
    height: 10%;
    background-color: #A79277;
}

.mydrive {
    width: 82%;
    height: 100vh;
}

.alien-pic {
    width: auto;
    height: 60%;
}

.university {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 20px;
}